{#include file="Public/header" /#}
{#include file="Public/top" /#}

<div id="main">
    <div class="container-fluid">
        <div class="row">
            {#include file="Public/left" /#}
            <div class="col-md-10">
                <div class="right-content">    <h3>
                        <span class="current">
                            {#$pageName#}
                    </h3>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form id="J_Date" class="layui-form layui-form-pane form-inline" action="" method="get">
                                <div class="form-group">
                                    <input class="form-control" name="userid" placeholder="用户id" value="{#$Think.request.userid#}" size="12" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="content" placeholder="内容"  value="{#$Think.request.content#}" size="12" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="module" placeholder="模块" value="{#$Think.request.module#}" size="12" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="ip" placeholder="ip" value="{#$Think.request.ip#}" size="12" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control startTime" name="start" placeholder="开始时间" value="{#$Think.request.start#}" size="12" type="text">
                                    -
                                    <input class="form-control endTime" name="end" placeholder="结束时间" value="{#$Think.request.end#}" size="12" type="text">
                                </div>
                                <div class="form-group">
                                    <select name="ifadmin" class="layui-btn-small ajax-action form-control"  >
                                            <option value="">所有状态</option>
                                            <option value="0" {#if condition="$Think.request.ifadmin eq '0'"#}selected="selected"{#/if#}>用户</option>
                                           <!--  <option value="1" {#if condition="$Think.request.ifadmin eq '1'"#}selected="selected"{#/if#}>管理员</option> -->
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                    &nbsp;立即查询
                                </button>
                            </form>
                        </div>
                    </div>
                    <form action="" method="post"  class="ajax-form">
                        <div class="set set0 table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="10">
                                            <button class="btn btn-danger anniu delbtn" type="button" data-url="{#:U('PayLog/delete')#}">删除</button>
                                            <button class="btn btn-primary anniu flushbtn" type="button" data-url="#">刷新</button>
                                            <br/>*仅能删除10 天前的支付日志！
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <th style="width: 15px;"><input type="checkbox" name="mmAll" class="selectAllCheckbox"/></th>
                                        <th>日志ID</th>
                                        <th>用户</th>
                                        <th>模块</th>
                                        <th>内容</th>
                                        <th>参数</th>
                                        <th>时间</th>
                                        <th>ip</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {#if condition="$list"#}
                                        {#volist name="list" id="n" #}
                                    <tr id="tr{#$n.id#}" >
                                        <td><input type="checkbox" class="thisid checkbox" title="{#$n.id#}" name="thisid[]" value="{#$n.id#}"/></td>
                                        <td>{#$n.id#}</td>
                                        <td>{#$n.userid#}</td>
                                        <td>{#$n.module#}</td>
                                        <td>{#$n.content#}</td>
                                        <td><textarea cols="50" rows="5">{#$n.Params|unserialize|print_r#}</textarea></td>
                                        <td>{#$n.addtime|date="Y-m-d H:i:s",####}</td>
                                        <td>{#$n.ip#}</td>
                                        <td>
                                            <a href="javascript:;" data-id="{#$n.id#}" data-url="{#:U('PayLog/delete',array('id'=>$n['id'],'p'=>$_GET['p']))#}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                                        </td>
                                    </tr>
                                        {#/volist#}
                                    {#else/#}
                                    <tr>
                                        <td colspan="10" align="center">暂无数据</td>
                                    </tr>
                                    {#/if#}
                                </tbody>
                            </table>
                            <div id="wypage">{#$page#}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{#include file="Public/footer" /#}