{#include file="Public/header" /#}

<body class="">
    <div style="position:absolute;left:40%">
        <div class="woody-prompt">
            <div class="prompt-error alert alert-danger">
            </div>
        </div>
    </div>

    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner">
            </div>
        </div>
        <div class="pace-activity">
        </div>
    </div>
    <div id="wrapper">
        {#include file="Public/left" /#}
        <div id="page-wrapper" class="gray-bg">
            {#include file="Public/top" /#}
            <div class="row wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <em class="fa fa-list">
                                    </em>
                                    {#$pageName#}&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="panel-body">
                                <form class="layui-form layui-form-pane form-inline" action="" method="get">
                                    <div class="form-group">
                                        <input class="form-control" name="userid" placeholder="用户id" value="{#$Think.request.userid#}" size="12" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="qq" placeholder="qq" value="{#$Think.request.qq#}" size="12" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" name="phone" placeholder="手机号" value="{#$Think.request.phone#}" size="12" type="text">
                                    </div>
                                    <div class="form-group">
                                        <select name="ifcheck" class="layui-btn-small ajax-action form-control"  >
                                            <option value="">所有状态</option>
                                            <option value="0" {#if condition="$Think.request.ifcheck eq '0'"#}selected="selected"{#/if#}>正常</option>
                                            <option value="1" {#if condition="$Think.request.ifcheck eq '1'"#}selected="selected"{#/if#}>锁定</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search">
                                        </span>
                                        &nbsp;立即查询
                                    </button>
                                </form>

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th align="center">商户id</th>
                                                <th align="center">余额</th>
                                                <th align="center">提现</th>
                                                <th align="center">手机</th>
                                                <th align="center">qq</th>
                                                <th align="center">状态</th>
                                                <th align="center">注册时间</th>
                                                <th align="center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {#if condition="$list"#}
                                            {#volist name="list" id="n" #}
                                            <tr id="tr{#$n.id#}" >
                                                <td align="center">{#$n.userid#}</td>
                                                <td align="center">{#$n.money#}</td>
                                                <td align="center">{#$n.tx#}</td>
                                                <td align="center">{#$n.phone#}</td>
                                                <td align="center">{#$n.qq#}</td>
                                                <td align="center">{#$n.statusname#}</td>
                                                <td align="center">{#$n.addtime#}</td>
                                        <td align="center">
                                            <a href="{#:U('Index/Home/dluserfl',array('id'=>$n['id'],'userid'=>$n['userid']))#}" class="layui-btn layui-btn-normal layui-btn-mini">设置费率</a>
                                        </td>
                                            </tr>
                                            {#/volist#}
                                            {#else/#}
                                            <tr>
                                                <td colspan="15" align="center">暂无数据</td>
                                            </tr>
                                            {#/if#}
                                        </tbody>
                                    </table>
                                    <div id="wypage">{#$page#}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#include file="Public/footer" /#}