{#include file="Public/header" /#}

<body class="">
    <div style="position:absolute;left:40%">
        <div class="woody-prompt">
            <div class="prompt-error alert alert-danger">
            </div>
        </div>
    </div>

    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner">
            </div>
        </div>
        <div class="pace-activity">
        </div>
    </div>
    <div id="wrapper">
        {#include file="Public/left" /#}
        <div id="page-wrapper" class="gray-bg">
            {#include file="Public/top" /#}
            <div class="row wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <em class="fa fa-list">
                                    </em>
                                    {#$pageName#}&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="panel-body">
                                <form class="layui-form form-container form-ajax form-horizontal" action="{#:U('Index/Home/tx')#}" method="post">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            账户余额：
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" value="{#$user.money#}" disabled="" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            可申请余额：
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" value="{#$nowmoney#}" disabled="" type="text">（最小提现额度{#$config.minpay#}元）
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            选择银行卡：
                                        </label>
                                        <div class="col-md-6">
                                            <select name="yhk" class="form-control" >
                                                <option value="">请选择银行卡</option>
                                                {#volist name="ka" id="n" #}
                                                <option value="{#$n.id#}">{#$n.username#}({#$n.ka#})</option>
                                                {#/volist#}
                                            </select>
                                            {#if condition="$ka eq null"#}* 没有银行卡？ <a href="{#:U('Index/Home/yhkadd')#}">添加银行卡</a>{#/if#}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            提现金额：
                                        </label>
                                        <div class="col-md-6">
                                            <input class="form-control" name="money" value="" type="text"> * 请填写整数
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            提现密码：
                                        </label>
                                        <div class="col-md-6">
                                            <input name="txmm" name="txmm" class="form-control" value="" type="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-4">
                                            <input type="hidden" class="form-control" name="act" value="{#$act#}"/>
                                            <input type="hidden" class="form-control" name="id" value="{#$edit.id#}"/>
                                            <button type="submit" class="btn btn-success ">
                                                &nbsp;
                                                <span class="glyphicon glyphicon-save">
                                                </span>
                                                &nbsp;申请提现&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#include file="Public/footer" /#}