{#include file="Public/header" /#}

<body class="">
    <div style="position:absolute;left:40%">
        <div class="woody-prompt">
            <div class="prompt-error alert alert-danger">
            </div>
        </div>
    </div>

    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner">
            </div>
        </div>
        <div class="pace-activity">
        </div>
    </div>
    <div id="wrapper">
        {#include file="Public/left" /#}
        <div id="page-wrapper" class="gray-bg">
            {#include file="Public/top" /#}

            <div class="row wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <em class="fa fa-list">
                                    </em>
                                    {#$pageName#}&nbsp;&nbsp;
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4 col-xs-6">
                                                <div class="panel">
                                                    <div class="panel-body" style="background:#eee;">
                                                        <h4 class="pull-left">
                                                            今日提现 (元)
                                                        </h4>
                                                        <h4 class="pull-right text-danger">
                                                            ￥{#$tj.today#} 元
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <div class="panel">
                                                    <div class="panel-body" style="background:#eee;">
                                                        <h4 class="pull-left">
                                                            昨日提现（元）
                                                        </h4>
                                                        <h4 class="pull-right text-primary">
                                                            ￥{#$tj.yes#} 元
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-6">
                                                <div class="panel">
                                                    <div class="panel-body" style="background:#eee;">
                                                        <h4 class="pull-left">
                                                            总提现金额
                                                        </h4>
                                                        <h4 class="pull-right text-info">
                                                            ￥{#$tj.all#} 元
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <form id="J_Date" method="get" class="form-inline m-b-xs" action="">
                                    <div class="form-group">
                                        <select name="status" class="layui-btn-small ajax-action form-control"  >
                                            <option value="">所有状态</option>
                                            <option value="0" {#if condition="$Think.request.status eq '0'"#}selected="selected"{#/if#}>未支付</option>
                                            <option value="1" {#if condition="$Think.request.status eq '1'"#}selected="selected"{#/if#}>已支付</option>
                                            <option value="2" {#if condition="$Think.request.status eq '1'"#}selected="selected"{#/if#}>已冻结</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input size="16" class="form-control startTime" name="start" readonly="" placeholder="开始时间" class="form_datetime form-control" value="{#$Think.request.start#}" type="text">
                                        </div>
                                        -
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input size="16" class="form-control endTime" name="end" readonly="" placeholder="结束时间" class="form_datetime form-control" value="{#$Think.request.end#}" type="text">
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                        &nbsp;立即查询
                                    </button>
                                </form>

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>

                                            <tr>
                                                <th align="center" >ID</th>
                                                <th align="center">提现金额</th>
                                                <th align="center">状态</th>
                                                <th align="center">时间</th>
                                                <th align="center">提现信息</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {#if condition="$list"#}
                                            {#volist name="list" id="n" #}
                                            <tr>
                                                <td align="center">{#$n.id#}</td>
                                                <td align="center">{#$n.money#}</td>
                                                <td align="center">{#$n.statusname#}</td>
                                                <td align="center">{#$n.addtime#}</td>
                                                <td align="center">开户名:{#$n.realname#} 账户:{#$n.ka#} 开户行:{#$n.address#}</td>
                                            </tr>
                                            {#/volist#}
                                            {#else/#}
                                            <tr>
                                                <td colspan="10" align="center">暂无数据</td>
                                            </tr>
                                            {#/if#}
                                        </tbody>
                                    </table>
                                    <div id="wypage">{#$page#}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#include file="Public/footer" /#}