<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>微信扫码支付</title>
    <link rel="stylesheet" href="<?php echo loadStatic('/home/style/weui.min.css'); ?>">
    <link rel="stylesheet" href="<?php echo loadStatic('/home/style/pay_new.css'); ?>">
    <style>
        .weui-inputs {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
}
.fuzhi{
        width: 5.5em;
        height: 2.0em;
        background: #ff5759;
        border-radius: 0.3em;
        border:1px solid ##ff5759;
}

    </style>
</head>
<body>

<div class="page">
    <div class="m-hd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd weui-media-box_yuan"><img src="/home/images/ALIPAYWAP.png" style="width: 40px;vertical-align: middle;margin-right: -4px;"></div>
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc">订单号：</p>
                        <h4 class="weui-media-box__title">充值金额：<font></font>金币</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="m-main">
        <div class="weui-flex">
            <div class="weui-flex__item"><img src="data:image/png;base64, {!! base64_encode(QrCode::format('png')->size(300)->generate($pay_info)) !!} "></div>
        </div>
       
    </div>
    <div class="m-prompt">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg weui-media-box_prompt">
                    <!-- <div class="weui-media-box__hd"><img width="100%" src="<?php echo loadStatic('/home/images/zhiwen.png'); ?>"></div> -->
                    <div class="weui-media-box__bd">
                        <p class="weui-media-box__desc">支付方式1，不支持识别二维码支付，请用其他手机支付宝扫描本二维码，完成支付。</p>
                        <p class="weui-media-box__desc">支付方式2，请将二维码截图保存手机相册，然后从（支付宝扫一扫）中上方相册，添加截图图片，完成支付。</p>
                        <!-- <p class="weui-media-box__desc">支付方式2，请将支付链接 复制到微信对话框、发送、然后点开链接完成支付。</p> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="<?php echo loadStatic('/home/js/jquery-1.11.3.min.js'); ?>"></script>
<script type="text/javascript">
    function copyContent(){ 
        var $toast = $('#toast');
        var copyobject=document.getElementById("copy-content");
        copyobject.select();
        document.execCommand("Copy");
        if ($toast.css('display') != 'none') return;
        $toast.fadeIn(100);
            setTimeout(function () {
                $toast.fadeOut(100);
            }, 2000);
    };
    

    
</script>
</body>
</html>