{#include file="Public/header" /#}
{#include file="Public/top" /#}

<div id="main">
    <div class="container-fluid">
        <div class="row">
            {#include file="Public/left" /#}
            <div class="col-md-10">
                <div class="right-content">    <h3>
                        <span class="current">
                            {#$pageName#}
                    </h3>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form class="layui-form layui-form-pane form-inline" action="" method="get">
                                <div class="form-group">
                                    <input class="form-control" name="userid" placeholder="用户ID" value="{#$Think.request.userid#}" size="12" type="text">
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search">
                                    </span>
                                    &nbsp;立即查询
                                </button>
                            </form>
                        </div>
                    </div>

                    <form action="" method="post"  class="ajax-form">
                        <div class="set set0 table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td colspan="10">
                                            <button class="btn btn-danger anniu delbtn" type="button" data-url="{#:U('Kou/delete')#}">删除</button>
                                            <button class="btn btn-success anniu addbtn" type="button" data-url="{#:U('Kou/add')#}">添加</button>
                                            <button class="btn btn-primary anniu flushbtn" type="button" data-url="#">刷新</button>
                                        </td>
                                    </tr>
                                    <tr class="info">
                                        <th style="width: 15px;"><input type="checkbox" name="mmAll" class="selectAllCheckbox"/></th>
                                        <th >用户ID</th>
                                        <th>初始值</th>
                                        <th>自减值</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {#if condition="$list"#}
                                        {#volist name="list" id="n" #}
                                    <tr id="tr{#$n.zjid#}" >
                                        <td><input type="checkbox" class="thisid checkbox" title="{#$n.zjid#}" name="thisid[]" value="{#$n.zjid#}"/></td>
                                        <td><a href="{#:U('Kou/edit',array('id'=>$n['zjid'],'p'=>$_GET['p']))#}">{#$n.userid#}</a></td>
                                        <td>{#$n.initval#}</td>
                                        <td>{#$n.zijian#}</td>
                                        <td>
                                            <a href="{#:U('Kou/edit',array('id'=>$n['zjid'],'p'=>$_GET['p']))#}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                                            <a href="javascript:;" data-id="{#$n.zjid#}" data-url="{#:U('Kou/delete',array('id'=>$n['zjid'],'p'=>$_GET['p']))#}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                                        </td>
                                    </tr>
                                        {#/volist#}
                                    {#else/#}
                                    <tr>
                                        <td colspan="15" align="center">暂无数据</td>
                                    </tr>
                                    {#/if#}
                                </tbody>
                            </table>
                            <div id="wypage">{#$page#}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{#include file="Public/footer" /#}